:root {
  --red: red;
  --black: black;
  --grey-text: #c6c6c6;
  --grey-border: #e8e8e8;
  --grey-background: #f4f4f4;
  --violet-light-hover: #f9f9ff;
  --violet-light-active: #eeeeff;
  --violet-light-delete: #bebeff;
  --border-block: 2px solid var(--grey-border);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
