:root {
  --red: red;
  --black: black;
  --grey-text: #a8a8a8;
  --grey-border: #c8c8c8;
  --grey-background: #a8a8a85b;
  --violet-light-hover: #efd4d1;
  --violet-light-active: #efb9b4;
  --violet-light-delete: #ff000081;
  --border-block: 2px solid var(--grey-border);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
